/* テーブルデザイン */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Liberation Serif', 'Noto Sans CJK JP',  /* Linux/Android/ChromeOS */
                 'TakaoGothic', 'VL Gothic',  /* Debian/Ubuntu */
                 'Yu Gothic', 'MS Gothic',  /* Windows */
                 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Osaka-Mono',  /* Mac/iOS */
                 'Noto Sans JP', Monospace, serif;
    min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #03638b;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #03638b;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #03638b;
}

/* インプットデザイン */
.post{
	position:relative;
    width:400px;
}
.post .inputTxt{
	margin-right:105px;
	padding:8px;
	background-color:#fff;
	border:1px solid #aaa;
}
.post .inputTxt input{
	width:100%;
	height:24px;
	line-height:24px;
	background:none;
	border:none;
}
.post .submitButton{
	position:absolute;
	top:0;
	right:0;
}
.post .submitButton .sendButton{
	display:block;
	width:100px;
	height:42px;
	color:#fff;
	line-height:40px;
	text-align:center;
	background-color:#03638b;
	border:1px solid #2ba6b6;
}

/* タイトル */
.title-wrapper {
    display: block;
    position: relative;
    margin: 30px;
    padding: 20px 0;
    width: 300px;
    background: #f1f1f1;
}
.title-wrapper h2 {
    text-align:center;
    color: #035b7e;
}
.ribbonUpper {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    box-sizing: border-box;
    padding: 0 12px;
    margin: 0;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: white;
    background: #2ba6b6;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}
.ribbonUpper:before {
    position: absolute;
    content: '';
    top: 0;
    left: -7px;
    border: none;
    height: 33px;
    width: 7px;
    background: #2ba6b6;
    border-radius: 5px 0 0 5px;
}
.ribbonUpper:after {
    position: absolute;
    content: '';
    bottom: -7px;
    left: -5px;
    border: none;
    height: 7px;
    width: 5px;
    background: #0d6775;
    border-radius: 5px 0 0 5px;
}
.ribbonUnder {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 5px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: white;
    background: #f49720;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
}
.ribbonUnder:before {
    position: absolute;
    content: '';
    top: -8px;
    right: -7px;
    border: none;
    height: 33px;
    width: 7px;
    background: #f49720;
    border-radius: 0 5px 5px 0;
}
.ribbonUnder:after {
    position: absolute;
    content: '';
    top: -7px;
    right: -5px;
    border: none;
    height: 7px;
    width: 5px;
    background: #be7516;
    border-radius: 0 5px 5px 0;
}

/* メッセージ */
.errorMsg {
	color: red;
}

