<!DOCTYPE html>
<html lang="ja">
<head>
  <title>My Webpage</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
  <h1>My Books</h1>
  <div class="top">アクセスした時刻: {{ timestamp }}</div>
  <form action="/" method="POST">
    <div class="post">
      <div class="inputTxt">
        <input id="title" type="text" name="title" placeholder="Book Title" maxlength="40">
      </div>
      <div class="submitButton">
        <input type="submit" value="登録" class="sendButton">
      </div>
    </div>
  </form>

  <table class="styled-table">
  <tr>
    <th>ID</th><th>タイトル</th><th>登録日時</th>
  </tr>
  {% for b in books %}
    <tr>
      <td>{{ b.book_id }}</td><td>{{ b.title }}</td><td>{{ b.created_on }}</td>
    </tr>
  {% endfor %}
  </table>

{# a comment #}
</body>
</html>