<!DOCTYPE html>
<html lang="ja">
<head>
  <title>My Books</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
  <div class="accessTime">アクセスした時刻: {{ timestamp }}</div>

  <div class="title-wrapper">
    <h3 class="ribbonUpper">{{ aws_az }}</h3>
    <h2>My Books</h2>
    <h3 class="ribbonUnder">{{ private_ip }}</h3>
  </div>
  <div class="errorMsg">{{ error_msg }}</div>
  <form action="/" method="POST">
    <div class="post">
      <div class="inputTxt">
        <input id="title" type="text" name="title" placeholder="📚 読んだ本を登録しよう 📚" maxlength="40">
      </div>
      <div class="submitButton">
        <input type="submit" value="登録" class="sendButton">
      </div>
    </div>
  </form>

  <table class="styled-table">
  <tr>
    <th>ID</th><th>タイトル</th><th>登録日時</th>
  </tr>
  {% for b in books %}
    <tr>
      <td>{{ b.book_id }}</td><td>{{ b.title }}</td><td>{{ b.created_on }}</td>
    </tr>
  {% endfor %}
  </table>

{# a comment #}
</body>
</html>